.navbar {
    display: flex;
    align-items: center;
    height: 3rem;
    background: lightblue;
    color: white;
    font-weight: 500;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.navbar-logo {
    margin-right: auto;
    font-size: 1.7rem;
    padding-left:  16px;
     text-decoration: none;
    color: white;
    padding-bottom: 1.5rem;
}
.navbar-logo:hover{
    text-decoration: none;
    color: white;
    
 }

.navbar-item {
    padding-left:  16px;
    padding-right:  16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-bottom: 1.5rem;
}

.navbar-item:hover{
   text-decoration: none;
   color: white;
   
}

.footer {
    background-color: palevioletred;
}

.carrito{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 5px;
    margin-bottom: 1.8rem;
}

.text{
    
    border-radius: 20px;
    border: lightblue solid 2px;
    width: 200px;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.option-dropdown{
    text-decoration: none;
    color: grey;
    
}
.option-dropdown:hover{
    color: lightblue;
    text-decoration: none;
    
}

.style-dropdown{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 1.5rem;
}
