.navbar {
    display: flex;
    align-items: center;
    height: 4rem;
    font-size: 1.3rem;
    background: lightblue;
    color: white;
    font-weight: 500;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.navbar-logo {
    margin-right: auto;
   
    padding-left:  16px;
     text-decoration: none;
    color: white;
    padding-bottom: 1.2rem;
}
.navbar-logo:hover{
    text-decoration: none;
    color: white;
    
 }

.navbar-item {
    padding-left:  16px;
    padding-right:  16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-bottom: 0.2rem;
  
}

.navbar-item:hover{
   text-decoration: none;
   color: white;
   
}


.option-dropdown{
    text-decoration: none;
    color: grey;
    
}
.option-dropdown:hover{
    color: lightblue;
    text-decoration: none;
    
}

.style-dropdown{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.style-producto{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    padding-top: 0.2rem;
}


.style-producto:hover{
    text-decoration: none;
    color: white;
     }
.carrito{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 5px;
    margin-bottom: 1.2rem;
}

.text{
    
    border-radius: 20px;
    border: lightblue solid 2px;
    width: 200px;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}



/* -------------------CartWidget----------------- */

.card{
    width: 16rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.card-img-top{
    width: 12rem;
    height: 14rem;
}