.navbar {
    display: flex;
    align-items: center;
    height: 4rem;
    font-size: 1.3rem;
    background: lightblue;
    color: white;
    font-weight: 500;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.navbar-logo {
    margin-right: auto;
    padding-left:  16px;
     text-decoration: none;
    color: white;
    padding-bottom: 1.2rem;
    font-size: 2rem;
}

.navbar-logo:hover{
    text-decoration: none;
    color: white;
    
 }

.navbar-item {
    padding-left:  16px;
    padding-right:  16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-bottom: 1rem;
  
}

.navbar-item:hover{
   text-decoration: none;
   color: white;
   
}


.option-dropdown{
    text-decoration: none;
    color: grey;
    
}
.option-dropdown:hover{
    color: #add8e6;
    text-decoration: none;
    
}

.style-dropdown{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
   

}

.style-productos{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;

}
.dropdown-toggle {
    padding-bottom: 1.5rem !important;
}

.style-productos:hover{
    text-decoration: none;
    color: white;
     }
.carrito{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 5px;
    margin-bottom: 1.2rem;
}

.text{
    
    border-radius: 20px;
    border: lightblue solid 2px;
    width: 200px;
    padding: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}



/* -------------------item----------------- */

.card{
    width: 12rem;
    height: 12rem;
    margin-top: 2rem;
    margin-left: 2rem;
 
}
.card-title{
    font-size: 1.2rem;
}
.card-text{
    font-size: 1rem;
}
.card-img-top{
    width: 10rem;
}

.style-btn{
    width: 7rem;
    height: 2rem;
    background-color: #def2fc;
    border: solid white;
    border-radius: 0.2rem;
}/* #FFDAB9 */

.grid-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
 row-gap: 1/5;

 grid-row-gap: 17rem;
  
}
/* ---------------contador------------ */

.contador{
    display: flow-root;
 
}
.button-contador1{
    background-color: lightblue;
    border: solid white;
    border-radius: 0.2rem;
    margin-right: 2rem;
    width: 3rem;
    height: 2rem;
 
}
.button-contador2{
    background-color: lightblue;
    border: solid white;
    border-radius: 0.2rem;
    width: 3rem;
    height: 2rem;
    margin-left: 2rem;
}


.text-contador{
   color: black;
display: contents;
margin-block-start: 0px;
margin-block-end: 0px;
margin-inline-start: 0px;
margin-inline-end: 0px;

}

.agregar-carrito{
    background-color: lightblue;
    border: solid white;
    border-radius: 0.2rem;
    width: 10.8rem;
    height: 2rem;

}


/* --------------------FOOTER------------------- */
.style-footer{
    background-color:lightblue;
    width: 100%;
    height: 8rem;
}

.style-list{
    list-style:none
}
.links-footer{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

.links-footer:hover{
    text-decoration: none;
    color: white;
}


/* ------------Item detail----------------- */
.body-itemdetail{
    width: 100%;
    height:50rem;
    
    font-size: 1rem;

}
.text-detail {
    width: 55rem;
}


.img-detail{
    width: 20rem;
    height: 20rem;
 
}

.info-detail{
    position: relative;
}


/* -------item list container--------- */
.style-h2{
    font-size: 2rem;
    color: lightblue;

}
.item-list{
    width: 50rem;
    height: 100rem;
}





